In [57]:
import pandas as pd 
import os
import features as cl

In [84]:
def save_csv(lst, path):
    """ Saves csv file with img names and labels
    """
    df = pd.DataFrame(lst)
    df.columns = ['img', 'label']
    df.to_csv(path, index=False)
    print("Saved to:",path)

In [38]:
def labelize(dir_path):
    """ Returns 2D list with img name and img label
    """
    directory = dir_path
    subdir_lst = os.listdir(dir_path)
    lst = []
    print(subdir_lst)
    for subdir in subdir_lst:
        imgs = os.listdir(directory+"/"+subdir) 
        for i in imgs: 
            lst.append([i, subdir])
    return lst

# Save label data

In [53]:
vehicle_path = "./clusters/vehicles20"
animals_path = "./clusters/animals20"
food_path = "./clusters/food40"
# directory = vehicle_path
# subdir = os.listdir(vehicle_path)[0]
# os.listdir(directory+"/"+subdir)

In [74]:
vehicles = labelize(vehicle_path)
animals = labelize(animals_path)
food = labelize(food_path)

['bus', 'car', 'else', 'motorcycle', 'train', 'truck', 'utility']
['bear', 'birds', 'cat', 'deer', 'dog', 'ducks', 'fox', 'monkey', 'pets', 'racoon', 'squirell', 'wild_cats']
['bread', 'desert', 'drink', 'else', 'fruit', 'meal']

In [85]:
save_csv(vehicles, "labels/vehicles.csv")
save_csv(animals, "labels/animals.csv")
save_csv(food, "labels/food.csv")

('Saved to:', 'labels/vehicles.csv')
('Saved to:', 'labels/animals.csv')
('Saved to:', 'labels/food.csv')

In [86]:
all_labels = vehicles+animals+food 
save_csv(all_labels, "labels/all.csv")

('Saved to:', 'labels/all.csv')

# Add Features

In [62]:
img_files = os.listdir('.') # these are image files
img_files = [f for f in img_files if f.endswith(".jpg")]

In [ ]:
fc8 = "fc8/"
fc7 = "fc7/"

In [ ]:
fc8_files = cl.load_files(fc8, 8000)

In [64]:
fc7_files = cl.load_files(fc7, 8000)

In [65]:
fc8_files.index = img_files[:8000]
fc8_files.head()

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
000000.jpg,1.792246,1.214735,0.090723,3.605963,0.980392,5.922396,3.844389,0.191532,1.462952,0.763315,...,4.107993,3.483368,2.380340,1.875716,2.821652,0.767298,1.686145,2.102949,5.584599,1.100587
000001.jpg,1.465299,3.259567,2.282358,3.267398,1.294655,3.418684,1.526095,0.631379,0.189938,1.870045,...,2.540759,0.878945,2.826976,2.667773,0.177334,1.915311,4.440604,2.447156,5.011928,0.808661
000002.jpg,0.144026,0.703179,5.422544,4.675078,5.374063,3.939137,2.914798,1.376190,3.536319,2.681049,...,3.472848,1.971740,2.887516,3.914970,2.856653,3.360607,3.044907,2.871434,1.440381,2.869741
000003.jpg,1.074757,0.350523,0.598255,2.298177,0.192704,1.590180,2.922283,1.588892,4.047737,5.627380,...,3.613640,1.986378,0.134821,3.231081,2.087324,2.718664,2.881108,3.070374,0.837293,4.851051
000004.jpg,1.896600,1.783510,2.347054,4.819045,4.995497,3.064835,2.309812,3.121055,2.820309,3.516807,...,0.214254,1.514517,2.099806,3.209898,1.776975,0.306610,2.363331,2.865939,0.807545,0.804842

In [67]:
fc7_files.index = img_files[:8000]
fc7_files.head()

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
000000.jpg,0.000000,2.046612,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.212679,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.0,2.622912
000001.jpg,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.0,2.123357,0.0,2.621346
000002.jpg,1.020148,0.000000,0.169499,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.000000
000003.jpg,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.0,0.000000
000004.jpg,0.000000,1.439687,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,8.096107,0.733521,0.0,0.45867,0.0,0.000000,0.0,1.038407

In [95]:
veh_df = pd.read_csv("labels/vehicles.csv")
anim_df = pd.read_csv("labels/animals.csv")
food_df = pd.read_csv("labels/food.csv")
all_df = pd.read_csv("labels/food.csv")

In [100]:
# v_fc7 = veh_df.join(fc7_files, on="img")
# v_fc7.to_csv(path)

In [105]:
def save_flab(path, fc, lab):
    """ Saves csv with features and labels df in specified path
    """
    v_fc7 = lab.join(fc, on="img")
    v_fc7.to_csv(path,index=False)

## FC8

In [106]:
fc = fc8_files
save_flab("features/vehicles_8",fc,veh_df)
save_flab("features/animals_8",fc,anim_df)
save_flab("features/food_8",fc,food_df)
save_flab("features/all_8",fc,all_df)

## FC7

In [107]:
fc = fc7_files
save_flab("features/vehicles_7",fc,veh_df)
save_flab("features/animals_7",fc,anim_df)
save_flab("features/food_7",fc,food_df)
save_flab("features/all_7",fc,all_df)

In [109]:
pd.read_csv("features/vehicles_8").head()

,img,label,0,1,2,3,4,5,6,7,...,990,991,992,993,994,995,996,997,998,999
0,000929.jpg,bus,1.627218,0.377880,0.307824,2.627416,2.429102,2.840889,1.642233,0.292658,...,1.452659,1.927197,0.551249,2.822479,2.331952,3.114079,2.070934,2.101460,0.122191,0.714432
1,001029.jpg,bus,4.512738,0.661460,2.611738,3.117225,3.452962,4.998893,4.596118,0.965162,...,4.337714,3.225806,2.257134,5.295344,4.487148,4.701539,3.946851,5.127711,2.287492,0.463631
2,002814.jpg,bus,2.604244,0.323149,2.552835,2.709335,3.002109,3.600496,2.440485,2.265169,...,2.279765,3.550018,2.353019,4.766788,4.149428,3.594605,3.127750,3.617964,0.226811,1.952746
3,003471.jpg,bus,2.798012,0.355771,0.485234,3.587728,3.029707,4.233265,4.273107,0.028112,...,2.806098,2.276053,1.335495,5.033137,4.004633,3.872140,3.425919,3.769513,1.894590,0.701988
4,003646.jpg,bus,2.584646,1.396602,2.251863,1.183023,0.711098,2.932277,2.163361,1.587651,...,2.375180,0.990019,1.497343,3.007614,2.136327,1.764058,1.369212,3.070705,0.145640,1.415545