In [26]:
# import spacy
import pandas as pd
import pickle as pk
# import gensim

In [27]:
vocab=pd.read_csv("../dataset/vocab.csv")["vocab"]

In [28]:
vocab.head()

0                leopard
1                 potter
2    varanus komodoensis
3                thunder
4             plate rack
Name: vocab, dtype: object

In [29]:
output = pd.read_pickle("../dataset/inception_output_layer_f2")

In [30]:
output.head()

,img,output layer,scores
0,029599.jpg,"[8.56041e-06, 7.97617e-06, 1.79152e-05, 3.7247...","{'alp': 0.967034, 'valley': 0.0136182, 'mounta..."
1,013369.jpg,"[2.58352e-05, 1.43098e-05, 3.03804e-05, 1.8103...","{'groin': 0.952986, 'groyne': 0.952986, 'mole'..."
2,023620.jpg,"[2.48684e-05, 2.80843e-05, 1.79409e-05, 1.1612...","{'barn': 0.948197, 'boathouse': 0.010576, 'wor..."
3,004139.jpg,"[0.00025399, 0.000173421, 0.000117245, 0.00025...","{'pot': 0.346745, 'flowerpot': 0.346745, 'terr..."
4,036728.jpg,"[0.000127009, 5.8184e-05, 0.000140877, 0.00025...","{'jean': 0.312845, 'denim': 0.312845, 'telepho..."

In [31]:
inverted_index = pd.DataFrame(index=vocab, columns=["image"])
inverted_index.head()

                    image
vocab
leopard               NaN
potter                NaN
varanus komodoensis   NaN
thunder               NaN
plate rack            NaN

In [32]:
def invert_index(row):
    scores = row["scores"]
    for key, value in scores.items():
        if pd.isna(inverted_index.loc[key]).any():
            inverted_index.loc[key]["image"] = {value: row.img}
        else :
            inverted_index.loc[key]["image"].update({value: row.img})

In [33]:
inverted_index = pd.DataFrame(index=vocab, columns=["image"])
output.apply(invert_index, axis = 1)

0        None
1        None
2        None
3        None
4        None
5        None
6        None
7        None
8        None
9        None
10       None
11       None
12       None
13       None
14       None
15       None
16       None
17       None
18       None
19       None
20       None
21       None
22       None
23       None
24       None
25       None
26       None
27       None
28       None
29       None
         ...
37515    None
37516    None
37517    None
37518    None
37519    None
37520    None
37521    None
37522    None
37523    None
37524    None
37525    None
37526    None
37527    None
37528    None
37529    None
37530    None
37531    None
37532    None
37533    None
37534    None
37535    None
37536    None
37537    None
37538    None
37539    None
37540    None
37541    None
37542    None
37543    None
37544    None
Length: 37545, dtype: object

In [34]:
inverted_index.head()

                                                                 image
vocab
leopard              {0.000352009: '013650.jpg', 0.00103964: '02672...
potter               {0.262947: '016122.jpg', 0.0380334: '012267.jp...
varanus komodoensis  {0.0370052: '035762.jpg', 0.00179766: '010585....
thunder              {0.0786094: '037468.jpg', 0.358049: '027463.jp...
plate rack           {0.18627: '026644.jpg', 0.000332891: '025402.j...

In [35]:
with open("../dataset/inverted_index", 'wb') as f:
    pk.dump(inverted_index, f, protocol=2)

In [11]:
unsorted_image = pd.read_pickle("../dataset/inverted_index")
# unsorted_image.loc["boot"].image[sorted(unsorted_image.loc["boot"].image, reverse=True)]

In [25]:
sorted(unsorted_image.loc["mountain"].image.items(), key=lambda x: x[0], reverse = True)

(0.99324858, '004487.jpg')